<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>SPECTRE</title>
        <link rel="stylesheet" href= "/public/css/threadStyle.css">
        <link rel="stylesheet" href= "/public/css/style.css">
</head>

<body>
    <div class="flex-colum justify-space-around">
        <header class="display-flex justify-space-between align-center p-2">
            <h1>
                <a href="/">SPECTRE!</a>
            </h1>
            <
        </header>
    </div>
</body>

</html>