<!DOCTYPE html>
<<<<<<< HEAD
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>SPECTRE</title>
        <link rel="stylesheet" href= "/public/css/threadStyle.css">
        <link rel="stylesheet" href= "/public/css/style.css">
</head>

<body>
    <div class="flex-colum justify-space-around">
        <header class="display-flex justify-space-between align-center p-2">
            <h1>
                <a href="/">SPECTRE!</a>
            </h1>
            <
        </header>
    </div>
</body>

=======
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>

    <body>
        <div id="navbar" class="top-bar">
            <a>Home</a>
            <a>Latest</a>
            <a>Most Popular</a>
            <a>About</a>
        </div>
            <div class="top-bar">
                <h1>
                    SPECTRE
                </h1>
            </div>
            <div class="main">
                {{{body}}}
            </div>
            {{!-- <script src="data.js"></script>
        
            <script src="indexjs.js" async defer></script> --}}
        </body>
>>>>>>> cbade371c24b79a400de0a89e2f64b8ab7c3593b
</html>