<head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href= "/public/css/threadStyle.css">
        <link rel="stylesheet" href= "/public/css/style.css">
</head>

<body>
    <div id="navbar" class="top-bar">
        <a>Home</a>
        <a>Latest</a>
        <a>Most Popular</a>
        <a>About</a>
    </div>
        <div class="top-bar">
            <h1>
                {{title}}
                SPECTRE
            </h1>
        </div>
        <div class="main">
            {{{body}}}
        </div>
        <script src="data.js"></script>
      
        <script src="indexjs.js" async defer></script>
    </body>
</html>