<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>

    <body>
        <div id="navbar" class="top-bar">
            <a>Home</a>
            <a>Latest</a>
            <a>Most Popular</a>
            <a>About</a>
        </div>
            <div class="top-bar">
                <h1>
                    SPECTRE
                </h1>
            </div>
            <div class="main">
                {{{body}}}
            </div>
            {{!-- <script src="data.js"></script>
        
            <script src="indexjs.js" async defer></script> --}}
        </body>
</html>