{{#each boards as |board|}}
<div class="thread-preview">
    <div class="thread">
        <h4 hr>
            <a href="/board/{{board.id}}">{{board.name}}</a>
        </h4></br>
        <p>Board originally created at {{board.date_created}}</p>
    </div>
</div>
{{/each}}