<div>
    {{thread_name}}
    <p>show me the forum.handlebars</p>
</div>
<div class="main">
    <div class="header">
    </div>
    <textarea></textarea>
    <button>add comment</button>
    <div class="comments">
    </div>
</div>
