<div class='threads-list'>
    {{#each threads as |thread|}}
    <div class='thread-preview'>
        <div class='thread-name'>
            <h1>{{thread_name}}</h1>
        </div>
        <div class='thread-creator'>
            <h3>Created by: {{user.user_name}}</h3>
        </div>
        <div class='thread-created-date'>
            <p>Date created:</br>{{date_created}}</p>
        </div>
    </div>
    {{/each}}
</div>