<div class='threads-list'>
    {{#each threads as |thread|}}
    <div class='thread-entry'>
        <div class='thread-name'>
            {{thread_name}}
        </div>
        <div class='thread-creator'>
            Created by: {{user.user_name}}
        </div>
        <div class='thread-created-date'>
            Date created: {{date_created}}
        </div>
    </div>
    {{/each}}
</div>