<section>
    <h3 class="title">create new blog post</h3><hr>
   <form class="new-thread">
    <div>
      <label for="thread-title">title:</label>
      <input class="input" type="text" id="thread-title" name="thread-title" placeholder="thread title here"/>
    </div>
    <div>
      <label for="thread-content">content:</label>
      <input class="textarea is-large" id="thread-content" name="thread-content" placeholder="thread content here"/>
    </div>
    <button type="submit" class="button is-primary is-pulled-right">create thread</button>
  </form>
</section>

<script src=""></script>