  <body>
    <section class="center">
      <a href="index.html">
      <IMG class="animated-gif" SRC="photos\spalpha1.1.gif">
      </a>
      <h3 class="center title">Create New Thread Post</h3><hr>
    
      <form class="main">
        <div class="center">
          <label for="thread-title">Title:</label>
          <input class="input" type="text" id="thread-title" name="thread-title" placeholder="thread title here"/>
        </div>
        <div class="center">
          <label for="thread-content">Content:</label>
          <textarea type="text" class="textarea is-large" id="thread-content" name="thread-content" placeholder="thread content here"></textarea>
        </div>
        <button id="btn"  class="createbtn">Create Thread</button>
        <div id="msg">
          <pre></pre>
        </div>
      </form>
    </section>

    
     <script src="createthread.js" async defer></script>
   
  </body>
  