<div class="user-page">
    <form class="user-form">
        <h3>Profile</h3>
        <div>
            <label for="name-create">Display name:</label><br/>
            <input type="text" id="name-create" value="{{user_name}}">
        </div>
        <div>
            <label for="email-user">E-Mail:</label><br/>
            <input type="text" id="email-user" value="{{email}}"/>
        </div>
        <div>
            <button class="update-button" type="submit">Update</button>
        </div>
        <div>
            <a href="/" class="home-button" type="submit">Home</a>
        </div>
    </form>
</div>

<script src="/public/js/profile.js"></script>