<div class="user-page">
    <form class="user-form">
        <h3>Login</h3>
        <div>
            <label for="email-user">E-Mail:</label><br/>
            <input type="text" id="email-user"/>
        </div>
        <div>
            <label for="password-user">Password:</label><br/>
            <input type="password" id="password-user">
        </div>
        <div>
            <button class="user-button" type="submit">Login</button>
        </div>
    </form>
    <form class="create-account-form">
        <h3>Create an account!</h3>
        <div>
            <label for="name-create">Enter your display name:</label><br/>
            <input type="text" id="name-create".>
        </div>
        <div>
            <label for="email-create">Enter your e-mail address:</label><br/>
            <input type="text" id="email-create"/>
        </div>
        <div>
            <label for="password-create">Enter your password here:<br/>(must be at least 8 characters)</label><br/>
            <input type="password" id="password-create"/>
        </div>
        <div>
            <button class="create-account-button" type="submit">Create your account!</button>
        </div>
    </form>
</div>

<script src="/public/js/user.js"></script>