/* .center {
    margin: auto;
    width: 50%;
    border: 3px solid darkgray;
    padding: 10px;
  } */
  textarea {
    width: 100%;
    height: 80px;
}

label {
  font-size: larger;
  font-weight: bolder;
  font-style: italic;
}




.thread-content {
  margin-left: auto;
  margin-right: auto;
  font-style: oblique;
}

h3 {
  color: blueviolet;
  
}


.main {
  background-color: darkgray;
  padding: 10px 40px;
}

img{
  height: 100px;
  width: 130px;
}

#thread-title {
  width: 100%;
  height: 20px;
  font-style: oblique;
}




.createbtn {
  color: aliceblue;
  font-style: oblique;
  font-weight: bolder;
  background-color: rgb(99, 12, 180);
}

/* body {
  background-color: black;
} */