header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
header > img.animated-gif{
    width: 120px;
    height: auto;
  }


a:link {
    color: #065b83;
    text-decoration: none;
}

a:visited {
    color: #065b83;
    text-decoration: none;
}

h1 {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: thin #060808;
    background-image: linear-gradient(to left, #2ecc71, #3498db, #9b59b6, #f39c12);
    -webkit-background-clip: text;
    animation: animate 5s linear infinite;
    -webkit-background-size: 200%;
    background-size: 200%;
}

@keyframes animate{
    0%{
        background-position: 0 100%;
    }
    50%{
        background-position: 100% 0;
    }
    100%{
        background-position: 0 100%;
    }
}

h1 p{
    font-size: 2em;
}
/* .wrapper p {
    color: transparent;
} */

.no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
}

.no-button:hover {
    color: #065b83;
    text-decoration: underline;
}

.thread-preview {
    display: flex;
    width: 650px;
    flex-flow: column;
    justify-content: space-around;
    margin: 5px;
    border-radius: 10px;
    border: 3px solid salmon;
}
