html {
    background:url(../images/vaporgifa.gif);
	background-size:cover;
	width:100%;
	height:650px;
	position:relative;
	overflow:hidden;
}

/* body {
     background:url(../images/treesbackground.jpg);
	background-size:cover;
	width:100%;
	height:650px;
	position:relative;
	overflow:hidden;
     
     background-size: cover;
    margin: 10px 60px;
    background-color: black ;
    background-image: url('../images/R8bab0125929879783d73930d66fab88d.gif');
    
} */

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    /* background-color: #060808; */
    background-size:cover;
    background-image: url('../images/R8bab0125929879783d73930d66fab88d.gif');
    padding-right: 70px;
    padding-left: 30px;
}
header > img.animated-gif{
    width: 120px;
    height: auto;
  }


a:link {
    color: #065b83;
    text-decoration: none;
}

a:visited {
    color: #065b83;
    text-decoration: none;
}

h1 {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: thin #060808;
    background-image: linear-gradient(to left, #2ecc71, #3498db, #9b59b6, #f39c12);
    -webkit-background-clip: text;
    animation: animate 5s linear infinite;
    -webkit-background-size: 200%;
    background-size: 200%;
}

@keyframes animate{
    0%{
        background-position: 0 100%;
    }
    50%{
        background-position: 100% 0;
    }
    100%{
        background-position: 0 100%;
    }
}

h1 p{
    font-size: 2em;
}

.login {
    font-size: 30px;
}

.no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
}

.no-button:hover {
    color: #065b83;
    text-decoration: underline;
}

.container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
}

.thread-preview {
    display: flex;
    width: 650px;
    flex-flow: column;
    justify-content: space-around;
    margin: 5px;
    border-radius: 10px;
    border: 3px solid salmon;
    text-align: center;
    background-image: url(../images/threabox.jpg);
}
.thread-creator > h3 {
  text-align: left;
  padding-left: 20px;
}

.thread-created-date > p {
  text-align: left;
  padding-left: 20px;
}

/* style for createthreads page */
#thread-content {
    width: 100%;
    height: 80px;
}

#titlelabel {
  font-size: larger;
  font-weight: bolder;
  font-style: italic;
}




#label {
  margin-left: auto;
  margin-right: auto;
  font-style: oblique;
}

#createh3 {
  color: blueviolet;
  
}


 #ctmain {
  background-color: darkgray;
  padding: 10px 40px;
} 

#imgid {
  height: 100px;
  width: 130px;
}

#thread-title {
  width: 100%;
  height: 20px;
  font-style: oblique;
}




#btn {
  color: aliceblue;
  font-style: oblique;
  font-weight: bolder;
  background-color: rgb(99, 12, 180);
}

 #bodyid {
  background-color: black;
} 

#msg {
  color: blueviolet;
  font-weight:bolder;
  font-size: larger;
  font-display:inherit;
  font-style: italic;
  
}
















/* new code below */

 
/* .section
{
	background:url(../images/treesbackground.jpg);
	background-size:cover;
	width:100%;
	height:650px;
	position:relative;
	overflow:hidden;
} */
 
/* 
.snow1
{
	background:url(../images/snow.png);
	/* background-repeat:repeat; */
	width:100%;
	height: 100%;
	position:fixed;
	top:0;
	left:0;
	animation:animateOne 10s infinite linear;
    vertical-align: bottom;
    z-index: 3
} 

.snow2
{
	background:url(../images/snow.png);
	background-repeat:repeat;
	width:100%;
	height:650px;
	position:absolute;
	top:0;
	left:0;
	animation:animateSecond 10s infinite linear;
  vertical-align: bottom;
  z-index: 2
}

/* test get div at same sibling level as snow */
.mainContent{
    vertical-align: top;
    z-index: 1
}

a {
    vertical-align: top;
}
*/




@keyframes animateOne
{
	0%
	{
		background-position: 0px 0px
	}

	100%
	{
		background-position: 100px 650px
	} 
}


@keyframes animateSecond
{
	0%
	{
		background-position: 0px -100px
	}

	100%
	{
		background-position: 0px 650px
	}
}
