
body {
    margin: 10px 60px;
}
a {
    text-decoration: none;
    color: salmon;
}
h1, h4, ol {
    margin: 0;
}
p {
    margin: 5px 0;
}
.top-bar {
    background-color: darksalmon;
    padding: 0 40px;
}
.main {
    background-color: darkgray;
    padding: 15px 15px;
}
.row {
    padding: 15px 0;
}
.bottom {
    display: flex;
    color: grey;
    font-size: 12px;
}
.timestamp {
    padding-right: 10px;
}
