html {
    line-height: 1.2;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1{
    font-size: 2em;
    margin: 0.67em 0;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.display-flex {
    display: flex !important;
}